
block head
  title #{seotitle}

block content
  //- .medium-banner
  //-   .banner-content
  //-     h1.banner-title #{collection}
  //-     p.banner-subtitle #{collection_description}

  .page-container
    h1 #{collection}
    p #{collection_description}


